Package: manokwari-theme-greeter
Version: 2.6
Architecture: all
Maintainer: BlankOn Developers <blankon-dev@googlegroups.com>
Installed-Size: 1747
Depends: blankon-avatar, lightdm-webkit-greeter
Provides: lightdm-theme
Section: misc
Priority: optional
Description: BlankOn login screen
 Manokwari theme for LightDM, developed by BlankOn project.
Original-Maintainer: Sergey "Shnatsel" Davidoff <shnatsel@gmail.com>
